.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightpink;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-form label {
    margin-bottom: 5px;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
  }
  
  .registration-form button {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    background-color: rgb(191, 91, 108);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: pink;
  }